*{
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.events {
    background-color: rgba(0, 0, 0, 0.905);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.event-card {
    background-color: black;
    margin: 2px;
    color: white;
    min-width: 300px;
    font-family: sans-serif;
}

.event-card:hover {
    background-color: rgba(0, 0, 0, 0.568);
    cursor: pointer;
    transition: all 0.3s;
    filter: grayscale(1);
}

.events img {
    width: 100%;
}

.space {
    margin: 12px;
}

.flat {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 40%;
}

.bar {
    color: goldenrod;
    margin: 0 5px;
}

.event-modal {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.79);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-y: auto;
    overflow-x: none;
}

.event-sub-modal {
    margin: 60px 10%;
    font-family: 'Roboto Mono', monospace;
}

.event-sub-modal h1 {
    padding: 80px;
    background-color: white;
}

.event-sub-modal h2 {
    padding: 80px;
    background-color: black;
    color: white;
}

.event-sub-modal p {
    background-color: #1F87CA;
    color: white;
    padding: 24px;
}

.in-event {
    background-color: #1F87CA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.msg-flash {
    display: none;
    position: fixed;
    top: 10px;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%);
    color: rgba(255, 255, 255, 0.51);
    font-family: Arial, Helvetica, sans-serif;
}
