/* imported fonts */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600&display=swap');
/*font-family: 'Source Sans Pro', sans-serif;*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.register {
    padding: 72px 100px;
    display: flex;
    flex-direction: column;
    background-color: rgb(215, 236, 93);
    border-radius: 20px;
    box-shadow: none;
}

.register > * {
    margin: 2px;
}

.register button {
    margin-top: 24px;
}

.register h1 {
    margin-bottom: 24px;
}

input {
    border: 1px rgba(0, 30, 255, 0.378) solid;
    border-radius: 2px;
    padding: 8px;
}

input:focus {
    outline: none;
}

button {
    padding: 8px;
    color: white;
    font-weight: 50;
    background-color: rgb(73, 33, 214);
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(88, 231, 52);
}

@media (min-width: 560px) {
    .container {
        background-color: rgba(240, 238, 121, 0.05);
    }
    .register {
        box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    }
}